<div
  class="header"
  [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
>
  <div class="header-label">Where in the world?</div>
  <div class="theme-toggler" (click)="toggleTheme()">
    @if ((state$ | async)?.isDarkTheme === 'false') {
    <img
      src="/assets/images/light-mode.svg"
      class="theme-icon"
      [ngClass]="{active: true}"
    />
    } @else {
    <img
      src="/assets/images/dark-mode.svg"
      class="theme-icon"
    />
    }
    <div class="theme-label">Dark Mode</div>
  </div>
</div>
