@import "../../../../shared/styles/variables";

.country {
  width: 100%;
  height: 100%;

  &:hover {
    cursor: pointer;
  }

  .flag {
    // height: clamp(47%, 47%, 47%);
    // height: clamp(45%, 45%, 45%);
    height: 50%;
  }

  .flag img {
    // background-position: center center;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
  }

  .details-container {
    background-color: $light-mode-component-bg;
    padding: 0.8rem 1rem;
    height: clamp(50%, 50%, 50%);
    // height: 50%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 1px 6px rgba(79, 79, 79, 0.25);

    &.dark {
      background-color: $dark-mode-component-bg;
    }

    .details {
      & * {
        margin-bottom: 0.5rem;
      }

      &.dark span.detail {
        color: $dark-mode-light-text-color;
      }

      .country {
        // margin: 0.8rem 0;
        font-family: "NunitoSans-ExtraBold";
        font-size: 1.1rem;
      }

      .label {
        font-weight: bold;
      }

      .detail {
        color: $light-mode-light-text-color;
      }
    }
  }
}
