<div
  class="country-details"
  [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
>
  <!--loading gif-->
  @if(isLoading()) {
  <div class="loading-gif-container">
    <img src="/assets/images/loading.gif" class="loading-gif" />
  </div>
  }

  <div
    class="back"
    [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
    (click)="onPopDetails()"
  >
    @if ((state$ | async)?.isDarkTheme === 'false') {
    <img src="/assets/images/back-light.svg" class="back-icon" />
    } @else {
    <img src="/assets/images/back-dark.svg" class="back-icon" />
    }
    <div class="back-label">Back</div>
  </div>
  <div class="main">
    <div class="flag">
      <img [src]="flag" alt="" />
    </div>
    <div class="details">
      <div class="country">{{ countryName }}</div>
      <div class="details-group">
        <div
          class="details-group-1"
          [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
        >
          <div class="native-name">
            <span class="label">Native name: </span>
            <span class="detail">{{ nativeName }}</span>
          </div>
          <div class="population">
            <span class="label">Population: </span>
            <span class="detail">{{ population | number }}</span>
          </div>
          <div class="region">
            <span class="label">Region </span>
            <span class="detail">{{ region }}</span>
          </div>
          <div class="sub-region">
            <span class="label">Sub Region: </span>
            <span class="detail">{{ subregion }}</span>
          </div>
          <div class="capital">
            <span class="label">Capital: </span>
            <span class="detail">{{ capital }}</span>
          </div>
        </div>
        <div
          class="details-group-2"
          [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
        >
          <div class="top-level-domain">
            <span class="label">Top Level Domain: </span>
            <span class="detail">{{ topLevelDomain }}</span>
          </div>
          <div class="currencies">
            <span class="label">Currencies: </span>
            <span class="detail">{{ currencies }}</span>
          </div>
          <div class="languages">
            <span class="label">Languages: </span>
            <span class="detail">{{ languages }}</span>
          </div>
        </div>
      </div>

      <app-border-countries
        [details]="details!"
        (emitBorderCountryCode)="onUpdateDetails($event)"
      ></app-border-countries>
    </div>
  </div>
</div>
