$light-mode-primary-text-color: black;
$light-mode-light-text-color: #364045;
$light-mode-component-bg: white;
$light-mode-body-bg: rgb(245, 245, 245);

$dark-mode-primary-text-color: white;
$dark-mode-light-text-color: #d2dde3;
$dark-mode-component-bg: #384552;
$dark-mode-body-bg: #2d3842;

$small-screen-max-width: 480px;
$medium-screen-max-width: 768px;
$large-screen-max-width: 1440px;
$extra-large-screen-max-width: 2560px;



