<div
  class="countries-page"
  [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
>
  <!--show search & filter when NOT displaying a particular country's details-->
  <div
    *ngIf="showSelectedCountryDetails(); then countryDetails; else countryList"
  ></div>

  <ng-template #countryList>
    <div class="search-and-filter" [ngClass]="{ hidden: isScrollingDown() }">
      <div class="search">
        <input
          #searchField
          (input)="handleInput($event)"
          type="text"
          placeholder="search for a country"
          [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
        />
        <!--light mode search icon-->
        <ng-template [ngIf]="(state$ | async)?.isDarkTheme === 'false'">
          <img
            src="/assets/images/search-icon-light.svg"
            class="search-icon"
            alt=""
          />
        </ng-template>
        <!--dark mode search icon-->
        <ng-template [ngIf]="(state$ | async)?.isDarkTheme === 'true'">
          <img
            src="/assets/images/search-icon-dark.svg"
            class="search-icon"
            alt=""
          />
        </ng-template>
      </div>

      <div
        class="filter"
        (click)="onShowfilterByRegionOptions()"
        [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
      >
        <div class="filter-label">Filter by Region</div>
        <!--light mode dropdown icon-->
        <ng-template [ngIf]="(state$ | async)?.isDarkTheme === 'false'">
          <img
            src="/assets/images/drop-down-filter-icon-light.svg"
            class="filter-drop-down-icon"
            [ngClass]="{ active: showfilterByRegionOptions() }"
            alt=""
          />
        </ng-template>
        <!--dark mode dropdown icon-->
        <ng-template [ngIf]="(state$ | async)?.isDarkTheme === 'true'">
          <img
            src="/assets/images/drop-down-filter-icon-dark.svg"
            class="filter-drop-down-icon"
            [ngClass]="{ active: showfilterByRegionOptions() }"
            alt=""
          />
        </ng-template>

        <ng-template [ngIf]="showfilterByRegionOptions()">
          <div
            class="options"
            [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
          >
            @for (option of filterByRegionOptions(); track $index) {
            <div class="option" (click)="onFilterOption(option)">
              {{ option }}
            </div>
            }
          </div>
        </ng-template>
      </div>
    </div>

    <ng-template [ngIf]="isLoading()">
      <div class="loading-gif-container">
        <img src="/assets/images/loading.gif" class="loading-gif" />
      </div>
    </ng-template>
    <ng-template [ngIf]="showErrorMsg()">
      <div class="error-msg-container">
        <div
          class="error-msg"
          [ngClass]="{ dark: (state$ | async)?.isDarkTheme === 'true' }"
        >
          {{ errorMsg() }}
        </div>
      </div>
    </ng-template>
    <ng-template [ngIf]="!isLoading() && !showErrorMsg()">
      <div
        class="countries-list-container"
        [ngClass]="{ hidden: isScrollingDown() }"
        (scroll)="onScroll($event)"
      >
        <div class="countries-list">
          @for (country of countries; track $index) {
          <app-country
            [details]="country"
            [countryIndex]="$index"
            (clickEvent)="onCountryClick($event)"
          ></app-country>
          }
        </div>
      </div>
    </ng-template>
  </ng-template>

  <ng-template #countryDetails>
    <app-country-details
      [details]="selectedCountryDetails()"
      (closeDetailsViewEvent)="onCloseDetailsView()"
      (updateSelectedCountryDetailsEvent)="
        onUpdateSelectedCountryDetails($event)
      "
    ></app-country-details>
  </ng-template>
</div>
