@import "../../../app/shared/styles/variables";

.countries-page {
  width: 100%;
  height: 600px;
  overflow: hidden;
  background-color: $light-mode-body-bg;

  @media (max-width: $extra-large-screen-max-width) {
    height: 95%;
  }

  &.dark {
    color: $dark-mode-primary-text-color;
    background-color: $dark-mode-body-bg;
  }

  .search-and-filter {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin: 2rem auto 0 auto;

    @media (max-width: $extra-large-screen-max-width) {
      width: 93.5%;
    }

    @media (max-width: $large-screen-max-width) {
      width: 88%;
    }

    @media (max-width: $medium-screen-max-width) {
      flex-direction: column;
      width: 78%;
    }

    @media (max-width: $small-screen-max-width) {
      flex-direction: column;
      width: 92%;
    }

    .search,
    .filter {
      margin-bottom: 2rem;
    }

    .search {
      position: relative;

      input {
        padding: 1rem 1rem 1rem 4rem;
        box-sizing: border-box;
        font-size: 1.1rem;
        border-width: 0;
        background-color: $light-mode-component-bg;
        box-shadow: 0 1px 6px rgba(79, 79, 79, 0.25);
        border-radius: 5px;

        @media (max-width: $extra-large-screen-max-width) {
          min-width: 600px;
        }

        @media (max-width: $large-screen-max-width) {
          min-width: 500px;
        }

        @media (max-width: $medium-screen-max-width) {
          // margin-bottom: 2rem;
          min-width: 100%;
        }

        &::placeholder {
          color: $light-mode-light-text-color;
        }

        &.dark {
          background-color: $dark-mode-component-bg;
          color: $dark-mode-primary-text-color;

          &::placeholder {
            color: $dark-mode-primary-text-color;
          }
        }

        &:focus {
          outline: none;
        }
      }

      .search-icon {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .filter {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $light-mode-primary-text-color;
      background-color: $light-mode-component-bg;
      box-shadow: 0 1px 6px rgba(79, 79, 79, 0.25);
      border-radius: 5px;
      font-weight: bold;
      padding: 1rem;

      @media (max-width: $medium-screen-max-width) {
        width: fit-content;
        // padding: 1rem 1.5rem;
      }

      // @media (max-width: $small-screen-max-width) {
      //   margin: 0 1rem 1rem 1rem;
      // }

      &:hover {
        cursor: pointer;
      }

      &.dark {
        color: $dark-mode-primary-text-color;
        background-color: $dark-mode-component-bg;
      }

      .filter-label {
        width: fit-content;
        margin: 0 2rem 0 1rem;
      }

      img {
        transform: rotate(0deg);
        transition: 100ms linear;
      }

      img.active {
        transform: rotate(-180deg);
      }

      .options {
        position: absolute;
        top: 100%;
        margin-top: 0.5rem;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: $light-mode-component-bg;
        box-shadow: 0 1px 6px rgba(79, 79, 79, 0.25);
        border-radius: 5px;

        &.dark {
          color: $dark-mode-primary-text-color;
          background-color: $dark-mode-component-bg;
        }

        & > div {
          padding: 1rem 1rem 0 1rem;

          &:hover {
            color: rgb(109, 109, 109);
          }
        }

        & > div:last-child {
          padding-bottom: 1rem;
        }
      }
    }
  }

  .loading-gif,
  .error-msg-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $medium-screen-max-width) {
      height: 30%;
    }

    @media (max-width: $small-screen-max-width) {
      height: 40%;
    }
  }

  .loading-gif {
    img {
      width: 6rem;
      height: 6rem;
    }
  }

  .error-msg {
    width: fit-content;
    height: fit-content;
    padding: 2rem 5rem;
    font-size: 1.5rem;
    color: $light-mode-primary-text-color;
    background-color: $light-mode-component-bg;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(79, 79, 79, 0.25);

    @media (max-width: $small-screen-max-width) {
      padding: 1rem 2rem;
      font-size: 1.2rem;
    }

    &.dark {
      background-color: $dark-mode-component-bg;
      color: $dark-mode-primary-text-color;
    }
  }

  .countries-list-container {
    margin-top: 2rem;
    height: 80%;
    overflow-y: auto;

    @media (max-width: $extra-large-screen-max-width) {
    }

    @media (max-width: $medium-screen-max-width) {
      margin-top: 1rem;
    }

    .countries-list {
      height: auto;
      margin: 0 5rem 5rem 5rem;
      display: grid;

      padding-bottom: 80px;

      @media (max-width: $extra-large-screen-max-width) {
        grid-template-columns: repeat(auto-fit, 17.6%);
        grid-auto-rows: 500px;
        column-gap: 3%;
      }

      @media (max-width: $large-screen-max-width) {
        grid-template-columns: repeat(auto-fit, 22.75%);
        grid-auto-rows: 350px;
        column-gap: 3%;
      }

      @media (max-width: $medium-screen-max-width) {
        grid-template-columns: repeat(auto-fit, 47%);
        grid-auto-rows: 340px;
        column-gap: 6%;
      }

      @media (max-width: $small-screen-max-width) {
        margin: 0 1rem;
        grid-template-columns: 1fr;
        grid-auto-rows: 420px;
        // row-gap: 30px;
        column-gap: 0%;
      }
    }
  }
}
